@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation: fadeIn 0.3s linear;
}

.chat-date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--gray);
  border-radius: 20px;
  padding: 10px 20px;
}

.partner {
  display: flex;
  align-items: center;
  position: absolute;
  left: 15px;
  top: 60px;
}

.partner__img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 10px;
}

.partner-info {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.partner__name {
  font-weight: 500;
}

.partner__message {
  display: flex;
  align-items: end;
}

.partner__message h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 0px 20px 20px 20px;
  margin-right: 7px;
  color: black;
}

.partner__time {
  font-size: 13px;
}

.user {
  display: flex;
  position: absolute;
  right: 15px;
  top: 150px;
}

.user__time {
  display: flex;
  align-items: end;
  font-size: 13px;
}

.user__message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--yellow);
  border-radius: 20px 0px 20px 20px;
  margin-left: 7px;
  color: black;
}

.chat-bar {
  display: flex;
  background-color: white;
  padding: 10px 0px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.chat-bar__more {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-bar__more i {
  border: 2px solid var(--gray);
  border-radius: 7px;
  padding: 5px;
}

.chat-bar__text {
  width: 90%;
  display: flex;
  align-items: center;
}

.chat-bar__text input {
  width: 90%;
  border: 1px solid var(--gray);
  border-radius: 25px;
  padding: 10px 15px;
  position: relative;
}

.chat-bar__text .fa-face-smile {
  position: absolute;
  right: 60px;
  font-size: 20px;
}

.chat-bar__text div {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--yellow);
  color: black;
}
