.find-menu {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-bottom: 1px solid var(--gray);
}

.find-menu__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-menu__column i {
  margin-bottom: 20px;
}

.recommend {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gray);
}

.recommend span {
  margin-top: 20px;
  margin-left: 15px;
}

.recommend div {
  display: flex;
  justify-content: center;
  padding: 100px 40px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px;
}

.open-chat__home i {
  margin-left: 5px;
}

.open-chat__main {
  overflow-y: auto;
  height: 25vh;
}

.open-chat__main::-webkit-scrollbar {
  display: none;
}

.open-chat__row {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
}

.open-chat__text {
  display: flex;
  flex-direction: column;
}

.open-chat__text span:first-child {
  font-size: 20px;
  font-weight: 700;
}

.open-chat__text span:nth-child(2) {
  margin: 5px 0;
}

.open-chat__text-img {
  display: flex;
  align-items: center;
}

.open-chat__text-img img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 3px;
}

.open-chat__text-img span {
  margin: 0 3px;
}

.open-chat__text-img span:last-child {
  color: deeppink;
}

.open-chat__logo {
  position: relative;
}

.open-chat__logo-img {
  width: 80px;
  height: 80px;
  border-radius: 20%;
}

.open-chat__like {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  padding: 5px 10px;
  position: absolute;
  bottom: 7px;
  right: 5px;
}

@keyframes heartBeat {
  0% {
    color: white;
  }
  50% {
    transform: scale(1.25);
    color: tomato;
  }
  100% {
    color: white;
  }
}

.open-chat__like i {
  margin-right: 5px;
  will-change: transform;
  animation: heartBeat 2s ease-in-out infinite;
}
