.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.header__title {
  font-weight: 600;
  font-size: 30px;
  margin: 10px;
}

.header__menu {
  margin: 10px;
}

.header__menu i {
  margin-right: 10px;
}

.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 8px 0;
}

.notice__text {
  margin: 0 4px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profile__img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
}

.profile__name {
  font-weight: 600;
  margin-left: 15px;
}

.friends__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
}

.friends__header span {
  color: rgba(0, 0, 0, 0.4);
}

.friends__header i {
  color: rgba(0, 0, 0, 0.4);
}

.friends-list {
  padding: 0 15px;
  overflow: auto;
  height: 380px;
  -ms-overflow-style: none; /*IE, Edge*/
  scrollbar-width: none; /*Firefox*/
  ::-webkit-scrollbar {
    display: none; /*Chrome, Safari, Opera*/
    width: 0px;
  }
}

.friends-list__img {
  width: 40px;
  height: 40px;
  border-radius: 40%;
}

.friends-list__name {
  margin-left: 15px;
}

.friends-list__column {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.footer {
  position: relative;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  background-color: #fafafa;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
