.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--blueblack);
  padding: 15px 0px;
}

.notice__text {
  margin: 0 5px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 1px solid var(--white);
}

.profile__img {
  width: 70px;
  height: 70px;
  border-radius: 40%;
}

@keyframes changeColor {
  0% {
    color: #bbafdc;
  }
  10% {
    color: #f1d2e7;
  }
  20% {
    color: #db706b;
  }
  30% {
    color: #fcf695;
  }
  40% {
    color: #a7dfe1;
  }
  50% {
    color: #cde5d5;
  }
  60% {
    color: #ffffff;
  }
  70% {
    color: #f3aa51;
  }
  80% {
    color: #567ace;
  }
  90% {
    color: #f1c3a9;
  }
  100% {
    color: #d9598c;
  }
}

.profile__name {
  font-weight: 600;
  font-size: 20px;
  margin-left: 15px;
  animation: changeColor 5s ease-in-out infinite;
}

.friends__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}

.friends-list {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  height: 50vh;
  overflow-y: auto;
}

.friends-list::-webkit-scrollbar {
  display: none;
}

.friends-list__row {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.friends-list__row:hover {
  color: var(--white);
}

.friends-list__img {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  margin-right: 10px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  animation: hideSplashScreen 0.2s ease-out forwards;
  animation-delay: 0.7s;
}
