.more-profile {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.more-profile__img {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-profile__img img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
}

.more-profile__text {
  width: 70%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
}

.more-profile__text:hover {
  color: var(--white);
}

.more-profile__text h1 {
  font-size: 20px;
  font-weight: 600;
}

.more-profile__text div i {
  margin-left: 3px;
  color: tomato;
}

.more-profile__message {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-profile__message:hover {
  color: var(--white);
}

.more-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
  border-bottom: 1px solid var(--gray);
}

.more-menu__item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

.more-menu__item:hover {
  color: var(--white);
}

.more-menu__item i {
  margin-bottom: 20px;
}

.more-suggestions {
  display: flex;
  flex-direction: column;
}

.more-suggestions__title {
  margin: 20px 15px;
  font-weight: 600;
}

.more-suggestions__list {
  display: flex;
  flex-wrap: wrap;
}

.more-suggestions__img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.more-suggestions__list li {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  align-items: center;
  justify-content: center;
}

@keyframes makeIconBig {
  from {
  }
  to {
    transform: scale(1.2);
    color: var(--white);
  }
}

.more-suggestions__list li:hover {
  animation: makeIconBig 0.5s ease-in-out forwards;
}
