.settings-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 80%;
}

.settings-list::-webkit-scrollbar {
  display: none;
}

.settings-list__row {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  align-items: center;
}

.settings-list__item {
  display: flex;
  align-items: center;
}

.settings-list__item span {
  margin-left: 10px;
  font-size: 20px;
}

.settings-list__new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  background-color: tomato;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  margin-left: 7px;
}

.settings-list__row:nth-child(3) {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 30px;
  margin-bottom: 20px;
}
