.footer-menu {
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
  padding: 20px;
  position: absolute;
  bottom: -20px;
  width: 100%;
}

.footer-menu i:hover {
  font-size: 25px;
  color: var(--blueblack);
}
